node_modules
*.beam
*.pyc
.vscode/
target/
.settings/
langs/java/jacoco.exec
.project
.classpath
/langs/php/vendor/
/langs/php/composer.lock
.idea
obj/
langs/csharp/bin/Debug/
langs/typescript/dist/*
langs/typescript/*.js
baseclient/java/target/*
baseclient/java/*.iml
baseclient/ts/dist/
langs/java/*.iml
