node_modules
*.beam
*.pyc
.vscode/
target/
.settings/
java/jacoco.exec
.project
.classpath
php/vendor/
php/composer.lock
.idea
obj/
csharp/bin/Debug/
ts/dist/*
ts/*.js
ts/.nyc_output/
ts/coverage/
baseclient/java/target/*
baseclient/java/*.iml
baseclient/ts/dist/
baseclient/ts/coverage/
baseclient/ts/.nyc_output/
java/*.iml
.history/
*.sum
.libraries.json
libraries/
**/csharp/**/bin/
**/csharp/**/obj/
**/csharp/**/.vs/