node_modules
*.beam
*.pyc
.vscode/
target/
.settings/
java/jacoco.exec
.project
.classpath
php/vendor/
php/composer.lock
.idea
obj/
csharp/bin/Debug/
ts/dist/*
ts/*.js
baseclient/java/target/*
baseclient/java/*.iml
baseclient/ts/dist/
java/*.iml
